  body {
        background: rgb(8, 5, 47);
        background: linear-gradient(
          343deg,
          rgba(8, 5, 47, 1) 0%,
          rgba(37, 12, 52, 1) 35%,
          rgba(18, 3, 69, 1) 100%
        );
      }
     /*Navebar*/
     nav {
        background: rgba(0, 0, 0);
        backdrop-filter: blur(10px);
      }
      .navbar-brand {
        font-weight: bolder;
        font-size: 2rem;
      }
      .dropdown-menu {
        background-color: rgb(0, 0, 0);
        position: static;
        float: none;
        display: none;
        min-width: 100%;
      }
      .dropdown-item{
        color: rgb(179, 179, 179);
      }
      .dropdown-item:hover{
        background-color: rgba(255, 255, 255, 0.1);
      }
      .dropdown-item::after{
        background-color: #141414;
      }
      .nav-display-menu{
        text-decoration: none;
        color: white;
        font-weight: bolder;
      }
      .nav-display-menu:hover{
        color: rgb(94, 34, 162);
        font-weight: bolder;
      }
      .nav-item {
        background-color: rgba(255, 255, 255, 0.042);
        margin: 10px;
        border-radius: 22px;
        padding: 1.5px 6px;
        border: 1px solid rgb(66, 66, 66);
      }
      .nav-link {
        color: white;
        text-decoration: none;
      }
      .drop-options-sub{
          font-size: 12px;
      }
      .drop-options-heading{
          font-size: 17px
      }
      @media (max-width: 991.98px) {
        nav{
          background-color: #000000;
          max-height: 100vh;
          overflow-y: auto;
        }
        .dropdown-menu {
          position: relative;
        }
        .nav-item{
          border: 1px solid rgb(66, 66, 66);
          padding: 20px;
          font-size: 18px;
          font-weight: bolder;
        }
        .drop-options-sub{
          font-size: 10px;
        }
        .drop-options-heading{
          font-size: 15px
        }
      }
       /*Footer*/
      /* Footer */
      footer {
        margin: 0px;
        overflow: hidden;
      }
      .footer-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: start;
      }
      .footer-section {
        background-color: #0b090e;
      }
      .footer-word {
        color: rgb(105, 107, 108);
        text-decoration: none;
      }

      .footer-word:hover {
        text-decoration: none;
        color: rgb(178, 178, 178);
      }

      .social-icon-img {
        display: flex;
        padding: 10px;
        justify-content: flex-end;
        align-items: center;
      }
      .bi {
        font-size: 1.5rem;
        color: rgb(189, 189, 189);
      }
      .bi:hover {
        color: white;
      }
      .sudg-section {
        margin: 0px;
        display: flex;
        justify-content: space-between;
        align-items: top;
      }
      @media (max-width: 767px) {
        .sudg-section {
          text-align: center;
          padding: 0px;
          flex-direction: column;
          align-items: center;
        }
        .sudg-section .footer-list {
          margin-bottom: 20px;
        }
      }

      #rights {
        display: flex;
        justify-content: center;
        text-align: center;
      }
      /*contact form*/
      .contact-form{
        padding-top: 70px;
        padding-bottom: 70px;
        color: rgb(0, 0, 0);
        width: 500px;
        margin-top: 150px;
        margin-bottom: 70px;
        background-color: rgb(255, 255, 255);
        
      }
      .contact-submit{
        background-color: #000000;
        color: white;
        padding: 10px 20px;
        border: none;
      }
      .contact-submit:hover{
        background-color:rgb(56, 56, 56) ;
        color: rgb(255, 255, 255);
        
      }
      @media (max-width: 768px) {
        .contact-form {
          padding: 10px;
          width: 85%;
          margin-top: 50px;
          margin-bottom: 30px;
          margin-top: 30%;
        }
      }
